{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["^[a-z]/*", "^@/*"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "bracketSpacing": true
}
